<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>404</title>
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <h1>{{error}}</h1>
    </div>
    {{>footer}}
</body>
</html>