<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>This website is created from refernce by Udemy. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="/img/robot.png"/>
        <h3>Name: {{name}}</h3>
    </div>
   
    {{>footer}}
</body>
</html>