<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
   
    <title>Help</title>
</head>
<body>
    <!--
    '>' shows to include that file from partial folder as we definded path in app.js
    -->
    <div class="main-content">
        {{>headers}}  
        <h3>Name: {{name}}</h3>
    </div>
    {{>footer}}
</body>
</html>