<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>This site is to get weather</p>
        <form>
            <input placeholder="Location">
        <button>Search</button>
        </form>
        <p id ="messageOne"></p>
        <p id="messageTwo"></p>
        
    </div>
    
    {{>footer}}
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>